EXPO_PUBLIC_SUPABASE_URL=https://dfjsrwzauickvhfffloe.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmanNyd3phdWlja3ZoZmZmbG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwOTQwMDAsImV4cCI6MjA4MTY3MDAwMH0.1Jb2veoU4-_nIKkdYrcQDOG_kcDZG7joXP5C4EENfvc