EXPO_PUBLIC_SUPABASE_URL=https://cncsmpwxwopuetihzlay.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuY3NtcHd4d29wdWV0aWh6bGF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwMTE0NzAsImV4cCI6MjA4MTU4NzQ3MH0.93L56zq-7AaXMSe1LMcHTVWf39VCZDSjaEVRffag7i4